.piano-key,
.drum-key {
    cursor: pointer;
    user-select: none;

    margin-top: 40px;
    margin-left: 20px;

    width: 80px;
    height: 160px;

    border-radius: 20px;
    background-color: var(--background-lighter);

    text-align: center;
    transition: color .6s;
}

.drum-key {
    height: 80px;
}

.key-active {
    background: var(--text-highlight);
    color: darkblue;
}

.piano-key:hover,
.drum-key:hover {
    color: var(--text-highlight);
    background-color: var(--button-highlight);
    transition: color .6s, background-color .6s;
}

.piano-key span,
.drum-key span {
    font-family: monospace;
}